
.button {
  background-color: #ababab;;
  font-size: 25px;
  margin: 10px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: none;
}

.button:hover { 
  background-color: #d3d3d3;
  cursor: pointer;
  transition: .8s;
  transform: scale(1.1);
}

.button-reset {
  margin: 20px;
  font-weight: bold;
  font-size: 15px;
  background-color: #ababab;
  width: 120px;
  height: 40px;
  border-radius: 10px;
  border: none;
}

.button-reset:hover {
  
  background-color: #d3d3d3;
  cursor: pointer;
  transition: .8s;
  transform: scale(1.05);
}

